body {
  box-sizing: inherit;
  width: 100%;
}

header{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color:   rgb(48,48,48);
}

header [type=text]{
  margin-left: 28em;
  margin-top: 0.5em;
}
header button{
  float: right;
  margin-top: 0.5em;
  width: 70px;
  height: 32px; 
}

.header-left{
  border-left: 1px solid grey;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 1em;
  padding-bottom: 0.5em;
  min-width: 35px;
  min-height: 40px;
}

header .header-left a i{
  margin-top: 0.5em;
  color: black;
}

header .header-left a {
  padding-right: 0.5em;
  color: white;
}

header .header-left a:nth-child(1):hover {
  color: #00ffff;
  text-decoration: none;
}

header .header-left i {
color: white;
}

.top-banner img {
  width: 100%;
}

.nav-menu {
  background-color: black; 
}
.navbar-brand {
  color: #00ffff;
}

.navbar-nav a{
  color: white;
}


.navbar-nav a:hover {
  color: #00ffff;
}